.book_image,
.book_btn,
.list-group-item,
.book_form,
.fa-window-close {
    transition: all 0.3s ease-in-out !important;
}

.list-group-item {
    padding: 10.5px 12px !important;
    &:hover {
        background-color: rgba(197, 202, 204, 0.5)
    }
}

.book_image {
    &:hover {
        transform: scale(0.98)
    }
}

.book_btn {
    cursor: pointer;
    &:hover {
        transform: scale(1.1)
    }
}

.book_form {
    border-radius: 15px;
    background-color: rgba(236, 240, 241, 1.0)
}

.fa-window-close {
    cursor: pointer;
    &:hover {
        color: #e74c3c;
        transform: scale(1.1)
    }
    font-size: 22px !important;
}